<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>MW Warzone Random Drop Generator</title>

  <!-- Bootstrap core CSS -->
  <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

  <!-- Leaflet core CSS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
   integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
   crossorigin=""/>

  <!-- Custom styles for this template -->
  <link href="{{ url_for('static', filename='css/one-page-wonder.css') }}" rel="stylesheet" type="text/css">
  <link href="{{ url_for('static', filename='scss/pin.scss') }}" rel="stylesheet">


</head>

<body>

  <!-- Navigation -->
  <nav class="smart-scroll navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">Random Drop Generator</a>
      <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> -->
      <!-- <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">Sign Up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Log In</a>
          </li>
        </ul>
      </div> -->
    </div>
  </nav>

  <header class="masthead text-center text-white">
    <div class="masthead-content">
      <div class="container align-items-center">
        <h1 class="masthead-heading mb-0">MODERN WARFARE</h1>
        <h2 class="masthead-subheading mb-0">Verdansk</h2>
        <div class="row">
          <div class="map-container col mx-auto">
            <div id="leafletMap" class="map"></div>
          </div>
        </div>
        <div id="genDropBtn" class="btn btn-primary btn-xl rounded-pill mt-5">Generate Drop</div>
        <div class="jumbotron">
          <p class="lead">Map Controls</p>
          <div class="align-items-left">
            <p>Left-Click: Add new location</p>
            <p>Right-Click (Hold on mobile browser): Remove location</p>
            <p>Click and Drag: Move map</p>
            <p>Scroll: Zoom</p>
          </div>
        </div>
    </div>
  </header>

  <!-- Footer -->
  <footer class="py-5 bg-black">
    <div class="container">
      <p class="m-0 text-center text-white small">Copyright &copy; KA 2020</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

  <!-- Leaflet core CSS -->
  <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
   integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
   crossorigin=""></script>

  <!-- Leaflet Plugins Javascript -->
  <script type="text/javascript" src="{{ url_for('static', filename='js/leaflet.smoothmarkerbouncing.js') }}"></script>

  <!-- App JavaScript -->
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>

</html>
